.footer {
    max-width: 1184px;
    display: flex;   
    justify-content: space-between;
    padding-bottom: 24px;
    padding-top: 92px;
    margin-right: 48px;
    margin-left: 48px;
}

@media screen and (max-width:1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width:768px) {
    .footer {
        max-width: 720px;
        padding-top: 90px;
        margin-right: 24px;
        margin-left: 24px;

    }
}

@media screen and (max-width:674px) {
    .footer {
        max-width: 186px;
        flex-direction: column;
        right: 118px;
        padding-top: 64px;
    }
}
